<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script src="../js/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link href="../css/summernote.css" rel="stylesheet">
    <script src="../js/summernote.js"></script>
     <style type="text/css">
  #parent{width:550px; height:10px; border:2px solid #09F;} 
  #son {width:0; height:100%; background-color:#09F; text-align:center; line-height:10px; font-size:20px; font-weight:bold;} 
 </style>
</head>

<body>
    <div id="summernote">
        <p>Hello Summernote ,<b>Hello jQuery插件库</b></p>
    </div>
    <form id="uploadForm" action="javascript:;">
        <input type="file" name="file" id="fileBtn" class="file_btn" >
        <label for="fileBtn">上传图片</label>
        <button id="uploadBtn" class="upload_btn">删除图片</button>
    </form>
     <div id="parent">
      <div id="son"></div>
     </div> 
</body>
<script>
$(document).ready(function() {
    $('#summernote').summernote();
});
$("#uploadBtn").click(function(){
	$("#fileBtn").val("");
})
$(document).ready(function() {

    $("#fileBtn").on('change', function() {

    	var file= $("#fileBtn")[0].files[0];

        var ul = 'http://c.hiphotos.baidu.com/image/h%3D300/sign=d82055dd788da977512f802b8050f872/91529822720e0cf3457ad8150146f21fbf09aa4b.jpg'
        convertImgToDataURLviaCanvas(ul,function(data){
            var blob = dataURLtoBlob(data);
            
        var formData = new FormData();
        formData.append("file", blob , 'a.jpg');

        $.ajax({
            url: '/cate/uploadImg',
            type: 'post',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            cache: false,
            dataType: 'json',
            xhr: function(){
    　　　　　　var xhr = $.ajaxSettings.xhr();
    　　　　　　if(onprogress && xhr.upload) {
    　　　　　　　　xhr.upload.addEventListener("progress" , onprogress, false);
    　　　　　　　　return xhr;
    　　　　　　}
    　　　　 },
            success: function(data) {
                if (data.code == '200') {
                    alert("文件上传成功");
                    $("<img/>").attr("src",data.path).appendTo($("#uploadForm"));
                } else {
                    alert('文件上传失败：原因是' + data.reason);
                }
            },
            error: function(xhr) {
                alert('文件上传失败：原因是' + xhr.status);
            }
        }); //end ajax
        })
        //还可以用append方法添加一些附加信息参数为(name,value)，如下面的代码：
        //formData.append('nickName','Jack');//-->后台用req.body.nickName将值'Jack'取出
        
    }); //end event
    function onprogress(evt){
    　　var loaded = evt.loaded;     //已经上传大小情况 
     var tot = evt.total;      //附件总大小 
     var per = Math.floor(100*loaded/tot);  //已经上传的百分比 
    　　$("#son").html( per +"%" );
     $("#son").css("width" , per +"%");
    }
    function convertImgToDataURLviaCanvas(url, callback, outputFormat){
        var img = new Image();
        img.crossOrigin = 'Anonymous';
        img.onload = function(){
            var canvas = document.createElement('CANVAS');
            var ctx = canvas.getContext('2d');
            var dataURL;
            canvas.height = this.height;
            canvas.width = this.width;
            ctx.drawImage(this, 0, 0);
            dataURL = canvas.toDataURL(outputFormat);
            callback(dataURL);
            canvas = null; 
        };
        img.src = url;
    }
    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while(n--){
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], {type:mime});
    }
});
</script>

</html>
